body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background: #eee;
  --navbar-height: 95px;
  padding-top: var(--navbar-height);
}

a {
  color: inherit;
  font-family: inherit;
  font-size: 11px;

  text-decoration: none;
}




@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }

  @keyframes middleBar {
    0% {
      width: 0px
    }

    50% {
      width: 20px
    }

    100% {
      width: 0px
    }
  }

  @-webkit-keyframes middleBar {
    0% {
      width: 0px
    }

    50% {
      width: 20px
    }

    100% {
      width: 0px
    }
  }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }

  @keyframes topBar {
    0% {
      width: 0px
    }

    50% {
      width: 10px
    }

    100% {
      width: 0px
    }
  }

  @-webkit-keyframes topBar {
    0% {
      width: 0px
    }

    50% {
      width: 10px
    }

    100% {
      width: 0px
    }
  }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }

  @keyframes bottomBar {
    0% {
      width: 0px
    }

    50% {
      width: 15px
    }

    100% {
      width: 0px
    }
  }

  @-webkit-keyframes bottomBar {
    0% {
      width: 0px
    }

    50% {
      width: 15px
    }

    100% {
      width: 0px
    }
  }


  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}



.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;

}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#logo {
  display: block;
  padding-left: 5px;
  margin-left: 5px;
  color: #686b78;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}





#menu {
  margin-right: -91px;
  font-size: 21px;
  display: flex;
  gap: 21px;
  font-family: inherit;
}

.index {
  visibility: hidden;
}

.card:hover .index {
  visibility: visible;
}

.index {
  text-align: center;
}

span .item-name {
  font-size: 11px;
  font-weight: 700;
  margin-right: 11px;
}

.card {
  border: 0px solid black;
  max-width: 242px;
  padding: 10px;
}

.card-img {
  max-width: 100%;
}


.item-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  background-color: #48c479;
  max-width: 41px;
  text-align: center;
  padding: 5px;
  font-size: 11px;
  color: white;
}

.item-time {
  font-size: 13px;
}

.item-desc {
  margin-top: 15px;
  color: #686b78;
  font-size: 12px;
}

.product__rating {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 80px;
  padding-top: 130px;
  justify-content: center;
  /* margin-left: -101px; */
  margin-bottom: 99px;
}

.nav-right-side {
  float: right;
  display: flex;
  position: absolute;
  margin-top: 62px;
  margin-left: 78vh;
  margin-left: 86vh;
  grid-gap: 24px;
  grid-gap: 24px;
  gap: 24px;
  list-style: none;
  /* font-weight: 700; */
  color: #686b78;
  font-size: 16px;


}

.card:hover {
  border-radius: 6px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: var(--navbar-height);
  line-height: 94px;
  width: 100%;
  z-index: 10;
  height: 86px;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.other {
  font-weight: 900;
  margin-right: 8px;
}

.first_logo {
  margin-top: 19px;
  position: absolute;
  margin-left: -67px;
  width: 31px;
  height: 60px;

}

.first_icon {
  margin-top: 32px;
  position: absolute;
  margin-left: -47px;
  width: 50px;
  height: 25px;
}

.icon-down {
  position: absolute;
  right: -12px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: .9rem;
  color: #fc8019;
  font-weight: 700;
}




#navbar ul {
  display: inline-block;
  /* float: right; */
  font-size: -5px;
  list-style: none;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
  display: flex;

}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#navbar li a:before,
#navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}


#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
}


#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
}



@media(max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}

@media(max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo-navbar {
  font-size: 27px;
  font-weight: 600;
  margin-left: 160px;

  /* margin-top: -71px; */
  position: absolute;
  margin-top: 54px;
}

.control-line {
  margin-top: 98px;
  position: absolute;
  margin-left: 160px;
  width: 1200px;
}



.carousel {
  display: flex;
  justify-content: center;
  gap: 51px;
  margin-top: -9px;

  background-color: #171a29;
  height: 316px;
  /* padding-top: 100px; */
  padding-top: 60px;
}